/* Imports  */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Chango&family=Cherry+Bomb+One&display=swap');


/* Hide the default progress bar and playtime */
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time,
audio::-webkit-media-controls-time-remaining-display {
    display: none;
}

/* Ensure the volume control is always visible */
audio::-webkit-media-controls-volume-slider {
    display: block;
    width: 100px; /* Adjust width as needed */
}

/* Optional: Style the audio element container */
.controls {
    display: flex;
    gap: 1rem;
}

/* Base styles */
html {
    overflow: hidden;
    height: 100%;
}

body {
background-color: black;
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ffffffd7;
    height: 100%;
    width: 100%;
    overflow: auto;
}

/* Layout container */
.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* Header */
header {
    padding: 1rem;
}

h1 {
    margin: 0;
    text-align: left;
    font-family: "Archivo Black", sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
    font-style: normal;
    color: #fff;
    opacity: 0.7;
}

h2 {
    margin: 0;
    text-align: left;
    font-family: "Archivo Black", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    font-style: normal;
    color: #fff;
    opacity: 0.7;
}

.live-song {
    font-size: 1rem;
    font-family: "Archivo Black", sans-serif;
    font-weight: bold;
    margin: 0;
    max-width: 200px;
}
.live-artist {
    font-size: 0.8rem;
    margin-top: -10px;
    color: #838383;
}

#title {
    top: -10pt;
    position: relative;
    text-align: left;
    font-family: "Archivo Black", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-style: normal;
    color: #fff;
    opacity: 0.5;
    margin-top: -1rem;
}

/* Main content */
main {
    padding: 1rem;
}

section {
    max-width: 450px;
    margin: auto;
}

.radio-player {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

audio#html5player {
    width: 200px;
}

.live {
    grid-row-start: 1;
    grid-row-end: 3;
}

.cover{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    height: 150pt;
    width: 150pt;
    border-radius: 25px;
    background: url('https://cdn-images.dzcdn.net/images/cover/66997a3babcd76fced42425e063a0b55/1900x1900-000000-80-0-0.jpg');
    background-size: cover;
}

.played-cover{
    display: flex;
    float: left;
    margin-right: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
    height: 50pt;
    width: 50pt;
    border-radius: 5px;
    background: url('https://cdn-images.dzcdn.net/images/cover/66997a3babcd76fced42425e063a0b55/1900x1900-000000-80-0-0.jpg');
    background-size: cover;
}

.station{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.station-info {
    background-size: cover;
    padding: 0.2rem;
    margin: 1rem;
    width: 75px;
    height: 75px;
    border-radius: 20px;
}
.station-info:active {
    transform: scale(0.95);
    transition: transform 0.1s;
    box-shadow: inset 0 0 0 2px #79f099;
}

/* Footer */
footer {
    align-self: end;
    color: #ffffffac;
    text-align: center;
    padding: 1rem;
}